---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
// $theme-primary: #F05F40;
// $theme-dark: #222;

// // Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "mixins",
//         "base"
// ;

.btn {
        border-radius: 300px;
}

.btn-lg {
        padding: 10px 30px;
}

html, body {
        height: 100%;
}

.sim-bg {

        background: url(/img/bg.png);
        // background-color: rgba(white, 0.5);
        background-position: center 300px;
        // background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
        // background-attachment: fixed;
}

header {
        min-height: calc(100% - 77px);
        position: relative;
}

.header-content {
        position: absolute;
        top: 15%;
        text-align: center;
        width: 100%;
}

section {
        padding: 100px 0px;
        background: white;
}

.service-box .bi {
        font-size: 5rem;
}

.contact-box .bi {
        font-size: 3rem;
}

.aside-box .bi {
        font-size: 3rem;
}

.site-tag {
        display: inline-block;
        background-color: #fafafa;
        padding: 5px;
        margin: 2px;
}

hr {
        margin: 10px 0px;
        border: none;
        border-top: 2px solid #0d6efd;
        max-width: 75px;
        opacity: 1.0;
}

hr.post-end {
        margin-top: 50px;
        border: none;
        border-top: 1px solid #eee;
        max-width: 100%;
}

.post-list-item .card-img-top {
        object-fit: cover;
        height: 100%;
}

article .comment-divider {
        border-top: 1px solid #000;
        opacity: 0.1;
        max-width: 100%;
}

article blockquote {
        margin: 1em;
        padding-left: 1em;
        border-left: 2px solid #0d6efd;
}

article figure {
        width: 100%;
}

article figure img {
        margin: auto;
        display: block;
}