<section class="bg-dark text-light" id="download">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1>Download</h1>
                <div>
                    dyn4j is a maven project but can be used in non-maven projects.  It supports OSGI and Java 9 modules and is built against Java 1.6.  dyn4j has no dependencies.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-md-6 col-lg-4">
                <h5>Maven</h5>
                <div class="codehilite">
{% highlight xml %}<dependency>
    <groupId>org.dyn4j</groupId>
    <artifactId>dyn4j</artifactId>
    <version>4.1.4</version>
</dependency>{% endhighlight %}
                </div>
            </div>
            <div class="col-8 col-md-4 col-lg-4">
                <h5>Other ways to download:</h5>
                <div class="">
                    <a href="{{ site.packages_url }}" class="btn btn-primary mb-2">GitHub Packages</a>
                    &nbsp;
                    <a href="{{ site.releases_url }}" class="btn btn-primary mb-2">Releases (legacy)</a>
                </div>
            </div>
        </div>
    </div>
    
</section>