<section class="bg-dark text-light" id="footer" style="padding: 50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center mb-2">
                <p>For any questions about dyn4j or a blog post, please create a <a href="{{ site.discussions_url }}">discussion on the GitHub project</a>.</p>
                <p>Feel free to reach out to me on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> or through <a href="https://github.com/{{ site.github_username }}">GitHub</a>.</p>
            </div>
        <div class="col-lg-2 offset-lg-2 text-center">
            <div class="contact-box">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="bi bi-twitter"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        </div>
        <div class="col-lg-2 offset-lg-1 text-center">
            <div class="contact-box">
                <a href="https://github.com/dyn4j">
                    <i class="bi bi-github"></i>
                    <p>dyn4j</p>
                </a>
            </div>
        </div>
        <div class="col-lg-2 offset-lg-1 text-center">
            <div class="contact-box">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="bi bi-github"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>
