<section id="quickstart">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 offset-xs-1 text-center mb-2">
                <h1 class="section-heading">QUICK START GUIDE</h2>
                <hr class="border border-light"/>
                <p class="text-faded">A quick 2 minute video showing the use of the samples GitHub project to get started using dyn4j</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 offset-xs-1">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/OqOcT8z-m_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>