<section class="bg-danger" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 offset-lg-1 text-center text-sm-start text-light" data-aos="fade-right" data-aos-once="true">
                If you'd like to learn more about how dyn4j works, check out the blog or read through the heavily documented source code on GitHub.
            </div>
            <div class="col-sm-6 col-lg-4 text-center text-light mt-3 mt-sm-0" data-aos="fade-right" data-aos-once="true">
                <a href="{{ site.github_url }}" class="btn btn-light btn-lg">View Source Code</a>
            </div>
        </div>
    </div>
</section>
