<section class="bg-danger" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center text-light">
                <div class="row">
                  <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight" data-aos="fade-right" data-aos-once="true">If you'd like to learn more about how dyn4j works, check out the blog or read through the heavily documented source code on GitHub.</div>
                    <div class="p-2 bd-highlight" data-aos="fade-left" data-aos-once="true"><a href="{{ site.github_url }}" class="btn btn-light btn-lg" style="white-space: nowrap;">View Source Code</a></div>
                  </div>
            </div>
        </div>
    </div>
</section>
