<section class="bg-primary" id="testdrive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center text-light">
                <div data-aos="fade-left" data-aos-once="true">
                    <h2 class="section-heading">Take dyn4j for test drive</h2>
                    <p class="text-faded">The sample repo contains a simple Java2D framework (and a JOGL example) along with a number of sample simulations.</p>
                </div>
                <div data-aos="fade-right" data-aos-once="true">
                    <a href="{{ site.samples_url }}" class="btn btn-light btn-lg">View the samples</a>
                </div>
            </div>
        </div>
    </div>
</section>
