---
layout: blog
title: Blog
---

{%-assign posts = paginator.posts -%}

{%- for post in posts -%}
{% include post-list-item.html post=post %}
{%- endfor -%}

<nav aria-label="posts paging">
    <ul class="pagination justify-content-center mt-5">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}
        {%-assign max = 8 -%}
        {%-assign hm = 4 | divided_by: 2 -%}
        {% if paginator.total_pages > max %}
        <li class="page-item d-block d-sm-none"><a class="page-link" href="/blog">1</a></li>
        {%- for i in (2..hm) -%}
        <li class="page-item d-block d-sm-none"><a class="page-link" href="/blog/page{{i}}">{{i}}</a></li>
        {%- endfor -%}
        <li class="page-item disabled d-block d-sm-none"><a class="page-link" href="#">...</a></li>
        {%-assign sn = paginator.total_pages | minus: hm | plus: 1 -%}
        {%- for i in (sn..paginator.total_pages) -%}
        <li class="page-item d-block d-sm-none"><a class="page-link" href="/blog/page{{i}}">{{i}}</a></li>
        {%- endfor -%}
        {% else %}
        <li class="page-item d-block d-sm-none"><a class="page-link" href="/blog">1</a></li>
        {%- for i in (2..paginator.total_pages) -%}
        <li class="page-item d-block d-sm-none"><a class="page-link" href="/blog/page{{i}}">{{i}}</a></li>
        {%- endfor -%}
        {% endif %}
        {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>